@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/*nav*/
nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  -webkit-box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
          box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);
}

nav h1 {
  color: black;
  font-size: 1.5rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-left: 1rem;
}

.burger {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  display: none;
  font-size: 2.2rem;
  position: relative;
  padding: 0;
  outline: none;
  height: 3rem;
  width: 3rem;
  right: 2rem;
}

.burger:active {
  outline: none;
}

.burger .bar {
  background-color: black;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  height: 3px;
  width: 20px;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.burger .bar:first-of-type {
  top: 40%;
}

.burger .bar:last-of-type {
  top: 60%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 1rem;
  list-style: none;
  cursor: pointer;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

ul li a {
  margin-right: 1rem;
  color: black;
  position: relative;
  font-size: 1.2rem;
  text-decoration: none;
}

/*end nav*/
/*landing*/
#landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(../img/lan.png);
  background-size: cover;
  background-position: center;
}

#landing h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
  color: white;
  margin-bottom: .5rem;
  text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.655);
}

#landing h1 span {
  -webkit-animation: show ease-in-out forwards 2s;
          animation: show ease-in-out forwards 2s;
}

#landing p {
  font-size: 1.3rem;
  letter-spacing: .3rem;
  font-weight: 400;
  color: #e7e7e7;
  text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.655);
}

#landing a {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: white;
  font-size: 2.5rem;
}

/*end landing*/
/*About*/
#about {
  background-color: #efefef;
  -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

#about h1 {
  font-size: 3.5rem;
  color: #757575;
  font-weight: 400;
  margin-top: 5rem;
  text-transform: uppercase;
}

#about .content_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .content_about p {
  text-align: right;
  font-size: 1.2rem;
  margin: 0 auto 2rem auto;
  width: 50%;
}

#about .content_about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding-left: 3rem;
}

#about .content_about .icons svg {
  margin-bottom: 2rem;
  height: 100px;
}

/*end About*/
/*Affiliates*/
#aff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#aff h1 {
  font-size: 3.5rem;
  color: black;
  font-weight: 400;
  margin-top: 5rem;
  text-transform: uppercase;
}

#aff .content_aff {
  margin-top: 3rem;
}

#aff .content_aff .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#aff .content_aff .cards .card {
  padding: 3rem 3rem;
}

#aff .content_aff .cards .card .card_title {
  text-align: center;
  margin-bottom: 1rem;
}

#aff .content_aff .cards .card img {
  border-radius: 20px;
  width: 250px;
  height: 350px;
}

#aff .content_aff .cards .card .card_footer {
  text-align: center;
}

#aff .content_aff .cards .card .card_footer p {
  font-size: 1rem;
}

#aff .content_aff .cards .card .card_footer a {
  font-size: .8rem;
  color: #757575;
}

/*end Affiliates*/
/* media */
@media only screen and (max-width: 1000px) {
  .burger {
    display: block;
  }
  .burger.show-x .bar:first-of-type {
    -webkit-transform: translate(-50%, 50%) rotate(225deg);
            transform: translate(-50%, 50%) rotate(225deg);
  }
  .burger.show-x .bar:last-of-type {
    -webkit-transform: translate(-50%, -150%) rotate(-225deg);
            transform: translate(-50%, -150%) rotate(-225deg);
  }
  ul {
    background: white;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    position: fixed;
    top: 80px;
    left: 10%;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
    width: 80%;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    z-index: 100;
  }
  ul.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: white;
  }
  ul li {
    margin: 15px;
  }
  #landing p {
    font-size: .9rem;
  }
  #about {
    width: 100%;
  }
  #about h1 {
    font-size: 2rem;
  }
  #about .content_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .content_about .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about .content_about .icons svg {
    margin-left: 2rem;
    width: 20%;
  }
  #about .content_about p {
    font-size: 1rem;
    width: 90%;
    text-align: center;
    margin-bottom: 5rem;
  }
  #aff h1 {
    font-size: 2rem;
  }
  #aff .content_aff .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* ObserverJS */
.anim {
  opacity: 0;
}

.animup {
  opacity: 0;
}

.animright {
  opacity: 0;
}

.animation {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animright {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animright {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */