@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mixin small {
    @media only screen and (max-width: 1000px) {
        @content;
    }

}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/*nav*/

nav {
    background: #73BCEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.301);

    h1 {
        color: white;
        font-size: 1.5rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        margin-left: 1rem;
    }
}

.burger {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    display: none;
    font-size: 2.2rem;
    position: relative;
    padding: 0;
    outline: none;
    height: 3rem;
    width: 3rem;
    right: 2rem;
}

.burger:active {
    outline: none;
}

.burger .bar {
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 40%;
}

.burger .bar:last-of-type {
    top: 60%;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
        padding: 1rem;
        list-style: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0.075);

        }

        a {
            margin-right: 1rem;
            color: white;
            position: relative;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }
}

/*end nav*/

/*landing*/

#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../img/lan.png);
    background-size: cover;
    background-position: center;

    h1 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: .5rem;
        color: white;
        margin-bottom: .5rem;
        text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.655);
    }

    p {
        font-size: 1.3rem;
        letter-spacing: .3rem;
        font-weight: 400;
        color: rgb(231, 231, 231);
        text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.655);
    }

    a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        color: white;
        font-size: 2.5rem;
    }
}

/*end landing*/

/*About*/

#about {
    background-color: #73BCEB;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.234);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 2rem auto 0 auto;
    border-radius: 5px;

    h1 {
        font-size: 3.5rem;
        color: #fff;
        font-weight: 400;
        margin-top: 5rem;
        text-transform: uppercase;
    }

    .content_about {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        align-items: center;

        p {
            color: #fff;
            text-align: right;
            font-size: 1.2rem;
            margin: 0 auto 2rem auto;
            width: 50%;
        }

        .icons {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding-left: 3rem;

            svg {
                margin-bottom: 2rem;
                height: 100px;
            }
        }
    }
}

/*end About*/

/*Affiliates*/

#aff {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 3.5rem;
        color: black;
        font-weight: 400;
        margin-top: 5rem;
        text-transform: uppercase;
    }

    .content_aff {
        margin-top: 3rem;

        .cards {
            display: flex;

            .card {
                padding: 3rem 3rem;

                .card_title {
                    text-align: center;
                    margin-bottom: 1rem;
                }

                img {
                    border-radius: 20px;
                    width: 250px;
                    height: 350px;
                }

                .card_footer {
                    text-align: center;

                    p {
                        font-size: 1rem;
                    }

                    a {
                        font-size: .8rem;
                        color: #757575;

                    }
                }
            }
        }
    }
}

/*end Affiliates*/

/*Passion*/
#passion {
    background-color: #73BCEB;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    img {
        width: 250px;
    }

    p {
        width: 50%;
        margin-top: 3rem;
        color: white;
        text-align: center;
    }
}

/*end Passion*/























































/* media */
@include small {

    .burger {
        display: block;
    }

    .burger.show-x .bar:first-of-type {
        transform: translate(-50%, 50%) rotate(225deg);
    }

    .burger.show-x .bar:last-of-type {
        transform: translate(-50%, -150%) rotate(-225deg);
    }

    ul {
        background: #73BCEB;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 80px;
        left: 10%;
        transform: translateX(120%);
        width: 80%;
        transition: transform 0.3s ease-in;
        z-index: 100;
    }

    ul.show {
        transform: translateX(0);
        background: #73BCEB;
    }

    ul li {
        margin: 15px;
    }

    #landing {
        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: .7rem;
        }
    }

    #about {
        margin: 0 auto;
        width: 100%;

        h1 {
            font-size: 2rem;
        }

        .content_about {
            display: flex;
            flex-direction: column;
            align-items: center;


            .icons {
                display: flex;
                flex-direction: row;

                svg {
                    margin-left: 2rem;
                    width: 20%;
                }
            }

            p {
                font-size: 1rem;
                width: 90%;
                text-align: center;
                margin-bottom: 5rem;
            }
        }
    }

    #aff {
        h1 {
            font-size: 2rem;
        }

        .content_aff {
            .cards {
                flex-direction: column;
            }
        }
    }

    #passion {

        p {
            width: 100%;
        }
    }

}






/* ObserverJS */

.anim {
    opacity: 0;
}

.animup {
    opacity: 0;
}

.animright {
    opacity: 0;
}

.animation {
    opacity: 0;
}

@keyframes anim1 {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animup {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

@keyframes animright {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}